
.item01 {
    margin-top: -20px;
    margin-left: -220px;
    width: 1330px;
    
    
}
.item02 {
    margin-top: 10px;
    height: 300px;
    width:680px;
   
    margin-left: -220px;
}
.item03 {
    margin-top: -315px;
    margin-left:273px;
    width: 640px;
    height: 300px;
    
   
}
.item04 {
    margin-top: -1227px;
    margin-left: 1090px;
    width: 570px;
    height: 1213px;
   
}
.item05 {
    margin-top: -10px;
    width: 440px;
    margin-left: -220px;
    
    height: 820px;
}
.item06 {
    margin-top: -834px;
    margin-left:204px;
    height: 430px;
    width: 1463px;

  
}
.item07 {
    margin-top: -410px;
    height: 364px;
    width: 730px;
   
    margin-left: -110px;
}
.item08 {
    margin-top: -416px;
    height: 360px;
    width:708px;
    margin-left: 950px;
    
}