.cora-curtida{
    margin-left: 210px;
}

#comentary{
    margin-left:260px;
}
.curtida{
    margin-left: 142px;
  font-size: 19px;
    margin-top: -28px;
}
#heart{
    margin-left: -191px;
}

.chat{
    margin-right: 193px;
}

#texto{
   height: 30px;
   margin-top: -31px; 
   margin-left: 20px;
   
}

.comentarios{
    margin-left: 160px;
    margin-top: -24px;
}

#nuvem{
    height:30px;
    margin-top: -14px;
    margin-left: -22px;
}


